span, applet, object, iframe, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    outline: 0 none;
    vertical-align: baseline;
}

h1, .h1 {
    font-size: 33px;
}

h2, .h2 {
    font-size: 27px;
}

h3, .h3 {
    font-size: 21px;
}

h4, .h4 {
    font-size: 15px;
}
h5, .h5 {
    font-size: 9px;
}

h6, .h6 {
    font-size: 6px;
}

pre {
    line-height: 1.5em;
    overflow-wrap: break-word;
}
pre, code {
    color: #4d4d4c;
    font-family: Monaco,"Source Code Pro",Menlo,Consolas,monospace;
    font-size: 11px;
}

.sidebar-title {
    border-top: 1px solid #e3e3e3;
    color: #0089d7;
    display: inline-block;
    font-family: "Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
    font-weight: 500;
    line-height: 1;
    margin-top: 10px;
    padding: 10px 0 20px 0px;
}

.sidebar-link.current, .toc-link.current {
    color: #0089d7;
}

.sidebar-link, .toc-link {
    color: #444;
    display: block;
    font-family: "Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
    line-height: 1;
    overflow: hidden;
    padding: 7px 10px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}