/*扩展功能*/
.welcome-container .shortcut a{display:block;float:left;text-align:center;margin-right:1.2em;padding:8px 5px;width:7em;height:8em;overflow:hidden;color:#333;}
.welcome-container .shortcut a:hover{text-decoration:none;background:#eee;border-radius:3px;padding:7px 4px;border:1px solid #d5d5d5;}
.welcome-container .shortcut a i{display:block;font-size:3em;margin:.28em .2em;}
.welcome-container .shortcut a img{display:block;height:4em;margin:.85em auto;}
.welcome-container .shortcut a span{display:block;font-size:1em;overflow:hidden;white-space:nowrap;}

.tile{display:block; float:left; margin:0.4em;padding:.2em 1em .5em 1em; width:8em; text-align:center; color:#333; text-decoration:none;}
.tile.tile-2x{width:10em;margin-top: 0.5em}
.tile.tile-3x{width:15em;}
.tile:hover{background:#7dacdd; color:#FFF;}
.tile > i{display:block; font-size:2em; margin:0.3em auto 0 auto;padding-bottom:3px;}
.tile > span{display:block;}
